html{}
body{margin:0;font:12px/1.75 Arial;-webkit-user-select:none;-webkit-touch-callout:none;
	-webkit-backface-visibility:hidden;
}
a{color:#000;text-decoration:none}
a:hover{color:#933}
input{cursor:pointer}
.tx12{font-size:12px}
.kai{font-family:Helvetica,Arial,sans-serif}
.t{font-family:Microsoft Yahei,Helvetica,Arial,sans-serif}
.tx_a{font-family:Helvetica,Arial,sans-serif}
.h1{height:45px;line-height:45px;font-size:300%;border:#000 1px solid;background:rgba(255,255,154,.1);padding:0 10px;position:relative;top:10px;-webkit-transform:rotate(-10deg);-moz-transform:rotate(-10deg);-o-transform:rotate(-10deg);-ms-transform:rotate(-10deg);transform:rotate(-10deg)}
.cross{pointer-events:none}
#shade.cover{z-index:101}
.btw{position:relative;pointer-events:all;
	-webkit-transform:translateY(30px);
	-moz-transform:translateY(30px);
	-o-transform:translateY(30px);
	-ms-transform:translateY(30px);
	transform:translateY(30px);
	-webkit-animation:opacity .5s ease-in-out 1;
	-moz-animation:opacity .5s ease-in-out 1;
	-o-animation:opacity .5s ease-in-out 1;
	-ms-animation:opacity .5s ease-in-out 1;
	animation:opacity .5s ease-in-out 1;
}
.bt{position:relative;top:50px;width:98px;height:98px;line-height:98px;margin:0 auto;display:block;border:#000 1px solid;border-radius:10px;box-shadow:#fff 0 0 5px 0;color:#000;text-align:center;cursor:pointer;-webkit-animation:bt 1s ease-in-out infinite;-moz-animation:bt 1s ease-in-out infinite;-o-animation:bt 1s ease-in-out infinite;-ms-animation:bt 1s ease-in-out infinite;animation:bt 1s ease-in-out infinite;-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg)}
.bt:hover{color:#000;-webkit-animation:bt_h .5s ease-in-out infinite;-moz-animation:bt_h .5s ease-in-out infinite;-o-animation:bt_h .5s ease-in-out infinite;-ms-animation:bt_h .5s ease-in-out infinite;animation:bt_h .5s ease-in-out infinite}
.bt:active{color:#000;-webkit-animation:bt_a .5s ease-in-out infinite;-moz-animation:bt_a .5s ease-in-out infinite;-o-animation:bt_a .5s ease-in-out infinite;-ms-animation:bt_a .5s ease-in-out infinite;animation:bt_a .5s ease-in-out infinite}
.bt:after{content:'';position:absolute;width:100%;height:100%;left:0;top:0;border-radius:10px;opacity:1;border-radius:100%}
.bt:active{box-shadow:rgba(255,255,255,.3) 0 0 10px 5px}
.bt .s{display:block;position:relative;width:100%;height:100%;font-size:300%;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg)}
.bt .s.t{font-size:200%;-webkit-animation:opacitypure .3s ease-in-out 1;-moz-animation:opacitypure .3s ease-in-out 1;-o-animation:opacitypure .3s ease-in-out 1;-ms-animation:opacitypure .3s ease-in-out 1;animation:opacitypure .3s ease-in-out 1}
.bt.start,.bt.return,.bt.showall,.bt.random{position:absolute;top:-25px}
.bt.start,.bt.showall{left:75px}
.bt.return{right:75px}
.bt.random{top:-100px}
.bt.count{top:50px}
#num,#num:hover{color:#933}
.w{ height:350px;}
.m{z-index:9;width:0;height:0;position:relative;left:50%;top:100px;-webkit-animation:circle 20s linear infinite;-moz-animation:circle 20s linear infinite;-o-animation:circle 20s linear infinite;-ms-animation:circle 20s linear infinite;animation:circle 20s linear infinite}
.d{position:absolute;line-height:198px;text-align:center;font-size:750%;z-index:2}
.r{width:198px;height:198px;border:#b0001e 1px solid;border-radius:0 20px;box-shadow:rgba(255,255,255,.5) 0 0 0 2px inset;-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg);background:-webkit-gradient(linear,0 100%,100% 0,color-stop(0,#fbf8e2),color-stop(100%,#fff398));background:-moz-gradient(linear,0 100%,100% 0,color-stop(0,#fbf8e2),color-stop(100%,#fff398));background:-o-gradient(linear,0 100%,100% 0,color-stop(0,#fbf8e2),color-stop(100%,#fff398));background:-ms-gradient(linear,0 100%,100% 0,color-stop(0,#fbf8e2),color-stop(100%,#fff398));background:gradient(linear,0 100%,100% 0,color-stop(0,#fbf8e2),color-stop(100%,#fff398))}
.r:hover,.r.active{background:#fbf8e2}
.shade{width:100%;height:100%;position:absolute;background:#b0001e;z-index:9;left:0;top:0;opacity:0;cursor:pointer}
.d1{right:0;bottom:0;-webkit-transform:rotate(-45deg) scaleY(.5);-moz-transform:rotate(-45deg) scaleY(.5);-o-transform:rotate(-45deg) scaleY(.5);-ms-transform:rotate(-45deg) scaleY(.5);transform:rotate(-45deg) scaleY(.5);-webkit-animation:anti_f12tof3_d1 .2s 1;-moz-animation:anti_f12tof3_d1 .2s 1;-o-animation:anti_f12tof3_d1 .2s 1;-ms-animation:anti_f12tof3_d1 .2s 1;animation:anti_f12tof3_d1 .2s 1}
.d2{left:0;bottom:0;-webkit-transform:rotate(45deg) scaleY(.5);-moz-transform:rotate(45deg) scaleY(.5);-o-transform:rotate(45deg) scaleY(.5);-ms-transform:rotate(45deg) scaleY(.5);transform:rotate(45deg) scaleY(.5);-webkit-animation:anti_f12tof3_d2 .2s 1;-moz-animation:anti_f12tof3_d2 .2s 1;-o-animation:anti_f12tof3_d2 .2s 1;-ms-animation:anti_f12tof3_d2 .2s 1;animation:anti_f12tof3_d2 .2s 1}
.d3{left:0;top:0;-webkit-transform:rotate(135deg) scaleY(.5);-moz-transform:rotate(135deg) scaleY(.5);-o-transform:rotate(135deg) scaleY(.5);-ms-transform:rotate(135deg) scaleY(.5);transform:rotate(135deg) scaleY(.5);-webkit-animation:anti_f12tof3_d3 .2s 1;-moz-animation:anti_f12tof3_d3 .2s 1;-o-animation:anti_f12tof3_d3 .2s 1;-ms-animation:anti_f12tof3_d3 .2s 1;animation:anti_f12tof3_d3 .2s 1}
.d4{right:0;top:0;-webkit-transform:rotate(225deg) scaleY(.5);-moz-transform:rotate(225deg) scaleY(.5);-o-transform:rotate(225deg) scaleY(.5);-ms-transform:rotate(225deg) scaleY(.5);transform:rotate(225deg) scaleY(.5);-webkit-animation:anti_f12tof3_d4 .2s 1;-moz-animation:anti_f12tof3_d4 .2s 1;-o-animation:anti_f12tof3_d4 .2s 1;-ms-animation:anti_f12tof3_d4 .2s 1;animation:anti_f12tof3_d4 .2s 1}
.r .t{-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);-webkit-animation:opacitypure .5s ease-in-out 1;-moz-animation:opacitypure .5s ease-in-out 1;-o-animation:opacitypure .5s ease-in-out 1;-ms-animation:opacitypure .5s ease-in-out 1;animation:opacitypure .5s ease-in-out 1}
.lw{display:none;width:0;height:0;z-index:3;position:relative;left:-50px;top:-50px;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg)}
.lw .l{position:absolute;top:0;left:0;width:141.42px;height:2px;background:#000;-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-o-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg)}
.tw{position:absolute;z-index:1;top:0;left:50%;top:0;width:0;height:0}
.c{position:absolute;width:100%;height:100%}
.ti{background:-webkit-gradient(linear,0 0,100% 0,color-stop(0%,#191412),color-stop(100%,#0a0909));background:-moz-gradient(linear,0 0,100% 0,color-stop(0%,#191412),color-stop(100%,#0a0909));background:-o-gradient(linear,0 0,100% 0,color-stop(0%,#191412),color-stop(100%,#0a0909));background:-ms-gradient(linear,0 0,100% 0,color-stop(0%,#191412),color-stop(100%,#0a0909));background:gradient(linear,0 0,100% 0,color-stop(0%,#191412),color-stop(100%,#0a0909))}
.c1 .tr{width:141px;height:141px;margin:-71px 0 0 -71px;border:#000 solid;border-width:1px 0 0 1px;overflow:hidden;-webkit-transform:rotate(135deg);-moz-transform:rotate(135deg);-o-transform:rotate(135deg);-ms-transform:rotate(135deg);transform:rotate(135deg)}
.c1 .ti{width:141.42%;height:141.42%;box-shadow:#000 0 0 0 1px inset;margin:-70.71% 0 0 -70.71%;border-radius:0 0 0 100px;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg)}
.c2 .tr{width:141px;height:141px;border:#000 solid;border-width:1px 0 0 1px;overflow:hidden;margin:-71px 0 0 -71px;-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg)}
.c2 .ti{width:141.42%;height:141.42%;box-shadow:#000 0 0 0 1px inset;margin:-70.71% 0 0 -70.71%;border-radius:100px 0 0 0;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg)}
.ci1{bottom:100px;left:0;-webkit-transform:rotate(0);-moz-transform:rotate(0);-o-transform:rotate(0);-ms-transform:rotate(0);transform:rotate(0)}
.ci2{top:0;left:100px;-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-o-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg)}
.ci3{top:100px;left:0;-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-o-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg)}
.ci4{bottom:0;left:-100px;-webkit-transform:rotate(270deg);-moz-transform:rotate(270deg);-o-transform:rotate(270deg);-ms-transform:rotate(270deg);transform:rotate(270deg)}
.ti .t{color:#fff;line-height:1;padding:60px 5px 0 5px;font-size:16px;width:24px;height:140px;float:right;position:relative;text-transform:uppercase;word-wrap:break-word;word-break:break-all;display:-webkit-box;display:-moz-box;display:-o-box;display:-ms-box;display:box;-webkit-box-pack:center;-moz-box-pack:center;-o-box-pack:center;-ms-box-pack:center;box-pack:center;-webkit-box-align:center;-moz-box-align:center;-o-box-align:center;-ms-box-align:center;box-align:center;-webkit-animation:txt .2s ease-in-out 1;-moz-animation:txt .2s ease-in-out 1;-o-animation:txt .2s ease-in-out 1;-ms-animation:txt .2s ease-in-out 1;animation:txt .2s ease-in-out 1}
.ti .flight{color:#ff0;-webkit-animation:flight .2s ease-in-out infinite;-moz-animation:flight .2s ease-in-out infinite;-o-animation:flight .2s ease-in-out infinite;-ms-animation:flight .2s ease-in-out infinite;animation:flight .2s ease-in-out infinite}
.c1 .t{-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-o-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg)}
.f1 .d1 .r,.f1 .d3 .r{-webkit-transform:rotate(-45deg) skewX(-18deg) scale(1.34) translateY(-25px);-moz-transform:rotate(-45deg) skewX(-18deg) scale(1.34) translateY(-25px);-o-transform:rotate(-45deg) skewX(-18deg) scale(1.34) translateY(-25px);-ms-transform:rotate(-45deg) skewX(-18deg) scale(1.34) translateY(-25px);transform:rotate(-45deg) skewX(-18deg) scale(1.34) translateY(-25px);-webkit-animation:f1tof2_d24 ease-in-out .2s 1;-moz-animation:f1tof2_d24 ease-in-out .2s 1;-o-animation:f1tof2_d24 ease-in-out .2s 1;-ms-animation:f1tof2_d24 ease-in-out .2s 1;animation:f1tof2_d24 ease-in-out .2s 1}
.f1 .d2 .r,.f1 .d4 .r{-webkit-transform:rotate(-45deg) skewY(-18deg) scale(1.34) translateX(25px);-moz-transform:rotate(-45deg) skewY(-18deg) scale(1.34) translateX(25px);-o-transform:rotate(-45deg) skewY(-18deg) scale(1.34) translateX(25px);-ms-transform:rotate(-45deg) skewY(-18deg) scale(1.34) translateX(25px);transform:rotate(-45deg) skewY(-18deg) scale(1.34) translateX(25px);-webkit-animation:f1tof2_d13 ease-in-out .2s 1;-moz-animation:f1tof2_d13 ease-in-out .2s 1;-o-animation:f1tof2_d13 ease-in-out .2s 1;-ms-animation:f1tof2_d13 ease-in-out .2s 1;animation:f1tof2_d13 ease-in-out .2s 1}
.f2 .d2 .r,.f2 .d4 .r{-webkit-transform:rotate(-45deg) skewX(-18deg) scale(1.34) translateY(-25px);-moz-transform:rotate(-45deg) skewX(-18deg) scale(1.34) translateY(-25px);-o-transform:rotate(-45deg) skewX(-18deg) scale(1.34) translateY(-25px);-ms-transform:rotate(-45deg) skewX(-18deg) scale(1.34) translateY(-25px);transform:rotate(-45deg) skewX(-18deg) scale(1.34) translateY(-25px);-webkit-animation:f1tof2_d24 ease-in-out .2s 1;-moz-animation:f1tof2_d24 ease-in-out .2s 1;-o-animation:f1tof2_d24 ease-in-out .2s 1;-ms-animation:f1tof2_d24 ease-in-out .2s 1;animation:f1tof2_d24 ease-in-out .2s 1}
.f2 .d1 .r,.f2 .d3 .r{-webkit-transform:rotate(-45deg) skewY(-18deg) scale(1.34) translateX(25px);-moz-transform:rotate(-45deg) skewY(-18deg) scale(1.34) translateX(25px);-o-transform:rotate(-45deg) skewY(-18deg) scale(1.34) translateX(25px);-ms-transform:rotate(-45deg) skewY(-18deg) scale(1.34) translateX(25px);transform:rotate(-45deg) skewY(-18deg) scale(1.34) translateX(25px);-webkit-animation:f1tof2_d13 ease-in-out .2s 1;-moz-animation:f1tof2_d13 ease-in-out .2s 1;-o-animation:f1tof2_d13 ease-in-out .2s 1;-ms-animation:f1tof2_d13 ease-in-out .2s 1;animation:f1tof2_d13 ease-in-out .2s 1}
.f1 .c1 .ci2,.f1 .c1 .ci4,.f1 .c2 .ci2,.f1 .c2 .ci4,.f2 .c1 .ci1,.f2 .c1 .ci3,.f2 .c2 .ci1,.f2 .c2 .ci3{display:none}
.f1 .tr,.f2 .tr{overflow:visible}
.f3 .d1{right:0;bottom:0;-webkit-transform:rotate(-45deg) scaleY(1);-moz-transform:rotate(-45deg) scaleY(1);-o-transform:rotate(-45deg) scaleY(1);-ms-transform:rotate(-45deg) scaleY(1);transform:rotate(-45deg) scaleY(1);-webkit-animation:f12tof3_d1 .2s 1;-moz-animation:f12tof3_d1 .2s 1;-o-animation:f12tof3_d1 .2s 1;-ms-animation:f12tof3_d1 .2s 1;animation:f12tof3_d1 .2s 1}
.f3 .d2{left:0;bottom:0;-webkit-transform:rotate(45deg) scaleY(1);-moz-transform:rotate(45deg) scaleY(1);-o-transform:rotate(45deg) scaleY(1);-ms-transform:rotate(45deg) scaleY(1);transform:rotate(45deg) scaleY(1);-webkit-animation:f12tof3_d2 .2s 1;-moz-animation:f12tof3_d2 .2s 1;-o-animation:f12tof3_d2 .2s 1;-ms-animation:f12tof3_d2 .2s 1;animation:f12tof3_d2 .2s 1}
.f3 .d3{left:0;top:0;-webkit-transform:rotate(135deg) scaleY(1);-moz-transform:rotate(135deg) scaleY(1);-o-transform:rotate(135deg) scaleY(1);-ms-transform:rotate(135deg) scaleY(1);transform:rotate(135deg) scaleY(1);-webkit-animation:f12tof3_d3 .2s 1;-moz-animation:f12tof3_d3 .2s 1;-o-animation:f12tof3_d3 .2s 1;-ms-animation:f12tof3_d3 .2s 1;animation:f12tof3_d3 .2s 1}
.f3 .d4{right:0;top:0;-webkit-transform:rotate(225deg) scaleY(1);-moz-transform:rotate(225deg) scaleY(1);-o-transform:rotate(225deg) scaleY(1);-ms-transform:rotate(225deg) scaleY(1);transform:rotate(225deg) scaleY(1);-webkit-animation:f12tof3_d4 .2s 1;-moz-animation:f12tof3_d4 .2s 1;-o-animation:f12tof3_d4 .2s 1;-ms-animation:f12tof3_d4 .2s 1;animation:f12tof3_d4 .2s 1}
.m .ac{background:#fcc;-webkit-animation:acbg .5s infinite;-moz-animation:acbg .5s infinite;-o-animation:acbg .5s infinite;-ms-animation:acbg .5s infinite;animation:acbg .5s infinite}
.ac .t{color:#000}
.alert{z-index:102;position:absolute;width:200px;height:200px;margin-left:-100px;left:50%;top:200px;
	-webkit-transform:translateY(0);
	-moz-transform:translateY(0);
	-o-transform:translateY(0);
	-ms-transform:translateY(0);
	transform:translateY(0);
	-webkit-animation:elasticity .6s ease-in-out 1;
	-moz-animation:elasticity .6s ease-in-out 1;
	-o-animation:elasticity .6s ease-in-out 1;
	-ms-animation:elasticity .6s ease-in-out 1;
	animation:elasticity .6s ease-in-out 1;
	display:-webkit-box;
	display:-moz-box;
	display:-o-box;
	display:-ms-box;
	display:box;
	-webkit-box-align:center;
	-moz-box-align:center;
	-o-box-align:center;
	-ms-box-align:center;
	box-align:center;
	-webkit-box-pack:center;
	-moz-box-pack:center;
	-o-box-pack:center;
	-ms-box-pack:center;
	box-pack:center;
}
.alin{position:relative;cursor:pointer;display:block;-webkit-animation:zoom .5s ease-in-out infinite;-moz-animation:zoom .5s ease-in-out infinite;-o-animation:zoom .5s ease-in-out infinite;-ms-animation:zoom .5s ease-in-out infinite;animation:zoom .5s ease-in-out infinite}
.sh{position:relative;z-index:8;width:100%;height:100%;margin-top:200px; padding-top:300px;-webkit-animation:opacitypure .2s ease-in-out 1;-moz-animation:opacitypure .2s ease-in-out 1;-o-animation:opacitypure .2s ease-in-out 1;-ms-animation:opacitypure .2s ease-in-out 1;animation:opacitypure .2s ease-in-out 1;-webkit-transform:scaleY(.2);-moz-transform:scaleY(.2);-o-transform:scaleY(.2);-ms-transform:scaleY(.2);transform:scaleY(.2);display:-webkit-box;display:-moz-box;display:-o-box;display:-ms-box;display:box;-webkit-box-align:center;-moz-box-align:center;-o-box-align:center;-ms-box-align:center;box-align:center;-webkit-box-pack:center;-moz-box-pack:center;-o-box-pack:center;-ms-box-pack:center;box-pack:center}
.shi,.shilight{width:350px;height:350px;background:rgba(0,0,0,.1);opacity:.8;border-radius:50px;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);-webkit-animation:circle 20s linear infinite;-moz-animation:circle 20s linear infinite;-o-animation:circle 20s linear infinite;-ms-animation:circle 20s linear infinite;animation:circle 20s linear infinite}
.wshade_w{ height:250px}
.wshade{position:relative; width:100%; left:0; z-index:100;text-align:center;display:-webkit-box;display:-moz-box;display:-o-box;display:-ms-box;display:box;-webkit-box-align:center;-moz-box-align:center;-o-box-align:center;-ms-box-align:center;box-align:center;-webkit-box-pack:center;-moz-box-pack:center;-o-box-pack:center;-ms-box-pack:center;box-pack:center}
.control{ padding-top:100px; padding-bottom:50px;z-index:10;position:relative;border-radius:20px;display:-webkit-box;display:-moz-box;display:-o-box;display:-ms-box;display:box;-webkit-box-align:center;-moz-box-align:center;-o-box-align:center;-ms-box-align:center;box-align:center;-webkit-box-pack:center;-moz-box-pack:center;-o-box-pack:center;-ms-box-pack:center;box-pack:center}
#shade{width:100%;height:800px;position:fixed; top:0; left:0;z-index:99}
.bowl{display:block;position:absolute;width:0;height:0;left:50%;top:20%;cursor:pointer;-webkit-animation:zoom .5s ease-in-out infinite;-moz-animation:zoom .5s ease-in-out infinite;-o-animation:zoom .5s ease-in-out infinite;-ms-animation:zoom .5s ease-in-out infinite;animation:zoom .5s ease-in-out infinite}
.bowl span,.alin span{display:block;white-space:nowrap}
.leftb,.rightb{position:absolute;top:0;width:149px;height:149px;background:rgba(255,255,255,.95);border:#000 1px solid}
.leftb{border-bottom-left-radius:1000px;right:0;border-right:0;box-shadow:}
.rightb{border-bottom-right-radius:1000px;left:0;border-left:0}
.ricew{width:300px;height:30px;position:absolute;left:-150px;overflow:hidden;top:-30px}
.rice{position:relative;width:100%;height:200px;border-radius:100%;border:#000 1px solid;background:rgba(255,255,225,.95)}
.rice i{display:block;width:84%;height:93px;float:right;border-top-left-radius:76%;border-left:#000 1px solid;position:relative;top:3px}
.stick{position:absolute;top:-98px;right:-120px;-webkit-transform:rotate(40deg);-moz-transform:rotate(40deg);-o-transform:rotate(40deg);-ms-transform:rotate(40deg);transform:rotate(40deg)}
.stick i{display:block;width:5px;height:100px;border:#000 1px solid;border-bottom:0;background:rgba(255,255,255,.95);margin:-5px 0 0 14px;-webkit-transform:rotate(3deg);-moz-transform:rotate(3deg);-o-transform:rotate(3deg);-ms-transform:rotate(3deg);transform:rotate(3deg)}
.orn{position:absolute;border:#000 1px solid;border-width:1px 0;width:294px;height:20px;margin-left:-147px;background:rgba(255,255,154,.1)}
.copyright{text-align:center;display:-webkit-box;display:-moz-box;display:-o-box;display:-ms-box;display:box;-webkit-box-align:end;-moz-box-align:end;-o-box-align:end;-ms-box-align:end;box-align:end;-webkit-box-pack:center;-moz-box-pack:center;-o-box-pack:center;-ms-box-pack:center;box-pack:center}
.copyright .inner{position:relative;-webkit-animation:opacitypure 1s ease-in-out 1;-moz-animation:opacitypure 1s ease-in-out 1;-o-animation:opacitypure 1s ease-in-out 1;-ms-animation:opacitypure 1s ease-in-out 1;animation:opacitypure 1s ease-in-out 1}
@-webkit-keyframes opacity{from{opacity:0;-webkit-transform:translateY(0);}
to{opacity:1;-webkit-transform:translateY(30px)}}
@-moz-keyframes opacity{from{opacity:0;-moz-transform:translateY(0);}
to{opacity:1;-moz-transform:translateY(30px)}}
@-o-keyframes opacity{from{opacity:0;-o-transform:translateY(0);}
to{opacity:1;-o-transform:translateY(30px)}}
@-ms-keyframes opacity{from{opacity:0;-ms-transform:translateY(0);}
to{opacity:1;-ms-transform:translateY(30px)}}
@keyframes opacity{from{opacity:0;transform:translateY(0);}
to{opacity:1;transform:translateY(30px)}}
@-webkit-keyframes opacitypure{from{opacity:0}
to{opacity:1}}
@-moz-keyframes opacitypure{from{opacity:0}
to{opacity:1}}
@-o-keyframes opacitypure{from{opacity:0}
to{opacity:1}}
@-ms-keyframes opacitypure{from{opacity:0}
to{opacity:1}}
@keyframes opacitypure{from{opacity:0}
to{opacity:1}}
@-webkit-keyframes txt{from{color:#000}
to{color:#fff}}
@-moz-keyframes txt{from{color:#000}
to{color:#fff}}
@-o-keyframes txt{from{color:#000}
to{color:#fff}}
@-ms-keyframes txt{from{color:#000}
to{color:#fff}}
@keyframes txt{from{color:#000}
to{color:#fff}}
@-webkit-keyframes elasticity{0%{opacity:0;-webkit-transform:scaleX(.25) translateY(80px)}
50%{-webkit-transform:scaleX(.25) translateY(0)}
84%{-webkit-transform:scaleX(1)}
92%{-webkit-transform:scaleX(.75)}
100%{opacity:1;-webkit-transform:scaleX(1)}}
@-moz-keyframes elasticity{0%{opacity:0;-moz-transform:scaleX(.25) translateY(80px)}
50%{top:35%;-moz-transform:scaleX(.25) translateY(0)}
84%{-moz-transform:scaleX(1)}
92%{-moz-transform:scaleX(.75)}
100%{opacity:1;-moz-transform:scaleX(1)}}
@-o-keyframes elasticity{0%{opacity:0;-o-transform:scaleX(.25) translateY(80px)}
50%{top:35%;-o-transform:scaleX(.25) translateY(0)}
84%{-o-transform:scaleX(1)}
92%{-o-transform:scaleX(.75)}
100%{opacity:1;-o-transform:scaleX(1)}}
@-ms-keyframes elasticity{0%{opacity:0;-ms-transform:scaleX(.25) translateY(80px)}
50%{top:35%;-ms-transform:scaleX(.25) translateY(0)}
84%{-ms-transform:scaleX(1)}
92%{-ms-transform:scaleX(.75)}
100%{opacity:1;-ms-transform:scaleX(1)}}
@keyframes elasticity{0%{opacity:0;transform:scaleX(.25) translateY(80px)}
50%{transform:scaleX(.25) translateY(0)}
84%{transform:scaleX(1)}
92%{transform:scaleX(.75)}
100%{opacity:1;transform:scaleX(1)}}
@-webkit-keyframes zoom{0%{-webkit-transform:scale(1)}
50%{-webkit-transform:scale(.95)}
100%{-webkit-transform:scale(1)}}
@-moz-keyframes zoom{0%{-moz-transform:scale(1)}
50%{-moz-transform:scale(.95)}
100%{-moz-transform:scale(1)}}
@-o-keyframes zoom{0%{-o-transform:scale(1)}
50%{-o-transform:scale(.95)}
100%{-o-transform:scale(1)}}
@-ms-keyframes zoom{0%{-ms-transform:scale(1)}
50%{-ms-transform:scale(.95)}
100%{-ms-transform:scale(1)}}
@keyframes zoom{0%{transform:scale(1)}
50%{transform:scale(.95)}
100%{transform:scale(1)}}
@-webkit-keyframes flight{0%{color:#fff}
50%{color:#ff0}
100%{color:#fff}}
@-moz-keyframes flight{0%{color:#fff}
50%{color:#ff0}
100%{color:#fff}}
@-o-keyframes flight{0%{color:#fff}
50%{color:#ff0}
100%{color:#fff}}
@-ms-keyframes flight{0%{color:#fff}
50%{color:#ff0}
100%{color:#fff}}
@keyframes flight{0%{color:#fff}
50%{color:#ff0}
100%{color:#fff}}
@-webkit-keyframes acbg{0%{background:#fcc}
50%{background:#fdd}
100%{background:#fcc}}
@-moz-keyframes acbg{0%{background:#fcc}
50%{background:#fdd}
100%{background:#fcc}}
@-o-keyframes acbg{0%{background:#fcc}
50%{background:#fdd}
100%{background:#fcc}}
@-ms-keyframes acbg{0%{background:#fcc}
50%{background:#fdd}
100%{background:#fcc}}
@keyframes acbg{0%{background:#fcc}
50%{background:#fdd}
100%{background:#fcc}}
@-webkit-keyframes bt{0%{background:rgba(255,255,255,.3)}
50%{background:rgba(255,255,255,.6)}
100%{background:rgba(255,255,255,.3)}}
@-moz-keyframes bt{0%{background:rgba(255,255,255,.3)}
50%{background:rgba(255,255,255,.6)}
100%{background:rgba(255,255,255,.3)}}
@-o-keyframes bt{0%{background:rgba(255,255,255,.3)}
50%{background:rgba(255,255,255,.6)}
100%{background:rgba(255,255,255,.3)}}
@-ms-keyframes bt{0%{background:rgba(255,255,255,.3)}
50%{background:rgba(255,255,255,.6)}
100%{background:rgba(255,255,255,.3)}}
@keyframes bt{0%{background:rgba(255,255,255,.3)}
50%{background:rgba(255,255,255,.6)}
100%{background:rgba(255,255,255,.3)}}
@-webkit-keyframes bt_h{0%{background:rgba(255,255,255,.2);-webkit-transform:rotate(-45deg) scale(1)}
50%{background:rgba(255,255,255,.4);-webkit-transform:rotate(-45deg) scale(1.1)}
100%{background:rgba(255,255,255,.2);-webkit-transform:rotate(-45deg) scale(1)}}
@-moz-keyframes bt_h{0%{background:rgba(255,255,255,.2);-moz-transform:rotate(-45deg) scale(1)}
50%{background:rgba(255,255,255,.4);-moz-transform:rotate(-45deg) scale(1.1)}
100%{background:rgba(255,255,255,.2);-moz-transform:rotate(-45deg) scale(1)}}
@-o-keyframes bt_h{0%{background:rgba(255,255,255,.2);-o-transform:rotate(-45deg) scale(1)}
50%{background:rgba(255,255,255,.4);-o-transform:rotate(-45deg) scale(1.1)}
100%{background:rgba(255,255,255,.2);-o-transform:rotate(-45deg) scale(1)}}
@-ms-keyframes bt_h{0%{background:rgba(255,255,255,.2);-ms-transform:rotate(-45deg) scale(1)}
50%{background:rgba(255,255,255,.4);-ms-transform:rotate(-45deg) scale(1.1)}
100%{background:rgba(255,255,255,.2);-ms-transform:rotate(-45deg) scale(1)}}
@keyframes bt_h{0%{background:rgba(255,255,255,.2);transform:rotate(-45deg) scale(1)}
50%{background:rgba(255,255,255,.4);transform:rotate(-45deg) scale(1.1)}
100%{background:rgba(255,255,255,.2);transform:rotate(-45deg) scale(1)}}
@-webkit-keyframes bt_a{0%{background:rgba(0,0,0,.05);-webkit-transform:rotate(-45deg) scale(1)}
50%{background:rgba(0,0,0,.1);-webkit-transform:rotate(-45deg) scale(1.1)}
100%{background:rgba(0,0,0,.05);-webkit-transform:rotate(-45deg) scale(1)}}
@-moz-keyframes bt_a{0%{background:rgba(0,0,0,.05);-moz-transform:rotate(-45deg) scale(1)}
50%{background:rgba(0,0,0,.1);-moz-transform:rotate(-45deg) scale(1.1)}
100%{background:rgba(0,0,0,.05);-moz-transform:rotate(-45deg) scale(1)}}
@-o-keyframes bt_a{0%{background:rgba(0,0,0,.05);-o-transform:rotate(-45deg) scale(1)}
50%{background:rgba(0,0,0,.1);-o-transform:rotate(-45deg) scale(1.1)}
100%{background:rgba(0,0,0,.05);-o-transform:rotate(-45deg) scale(1)}}
@-ms-keyframes bt_a{0%{background:rgba(0,0,0,.05);-ms-transform:rotate(-45deg) scale(1)}
50%{background:rgba(0,0,0,.1);-ms-transform:rotate(-45deg) scale(1.1)}
100%{background:rgba(0,0,0,.05);-ms-transform:rotate(-45deg) scale(1)}}
@keyframes bt_a{0%{background:rgba(0,0,0,.05);transform:rotate(-45deg) scale(1)}
50%{background:rgba(0,0,0,.1);transform:rotate(-45deg) scale(1.1)}
100%{background:rgba(0,0,0,.05);transform:rotate(-45deg) scale(1)}}
@-webkit-keyframes f12tof3_d1{from{-webkit-transform:rotate(-45deg) scaleY(.5)}
to{-webkit-transform:rotate(-45deg) scaleY(1)}}
@-moz-keyframes f12tof3_d1{from{-moz-transform:rotate(-45deg) scaleY(.5)}
to{-moz-transform:rotate(-45deg) scaleY(1)}}
@-o-keyframes f12tof3_d1{from{-o-transform:rotate(-45deg) scaleY(.5)}
to{-o-transform:rotate(-45deg) scaleY(1)}}
@-ms-keyframes f12tof3_d1{from{-ms-transform:rotate(-45deg) scaleY(.5)}
to{-ms-transform:rotate(-45deg) scaleY(1)}}
@keyframes f12tof3_d1{from{transform:rotate(-45deg) scaleY(.5)}
to{transform:rotate(-45deg) scaleY(1)}}
@-webkit-keyframes f12tof3_d2{from{-webkit-transform:rotate(45deg) scaleY(.5)}
to{-webkit-transform:rotate(45deg) scaleY(1)}}
@-moz-keyframes f12tof3_d2{from{-moz-transform:rotate(45deg) scaleY(.5)}
to{-moz-transform:rotate(45deg) scaleY(1)}}
@-o-keyframes f12tof3_d2{from{-o-transform:rotate(45deg) scaleY(.5)}
to{-o-transform:rotate(45deg) scaleY(1)}}
@-ms-keyframes f12tof3_d2{from{-ms-transform:rotate(45deg) scaleY(.5)}
to{-ms-transform:rotate(45deg) scaleY(1)}}
@keyframes f12tof3_d2{from{transform:rotate(45deg) scaleY(.5)}
to{transform:rotate(45deg) scaleY(1)}}
@-webkit-keyframes f12tof3_d3{from{-webkit-transform:rotate(135deg) scaleY(.5)}
to{-webkit-transform:rotate(135deg) scaleY(1)}}
@-moz-keyframes f12tof3_d3{from{-moz-transform:rotate(135deg) scaleY(.5)}
to{-moz-transform:rotate(135deg) scaleY(1)}}
@-o-keyframes f12tof3_d3{from{-o-transform:rotate(135deg) scaleY(.5)}
to{-o-transform:rotate(135deg) scaleY(1)}}
@-ms-keyframes f12tof3_d3{from{-ms-transform:rotate(135deg) scaleY(.5)}
to{-ms-transform:rotate(135deg) scaleY(1)}}
@keyframes f12tof3_d3{from{transform:rotate(135deg) scaleY(.5)}
to{transform:rotate(135deg) scaleY(1)}}
@-webkit-keyframes f12tof3_d4{from{-webkit-transform:rotate(225deg) scaleY(.5)}
to{-webkit-transform:rotate(225deg) scaleY(1)}}
@-moz-keyframes f12tof3_d4{from{-moz-transform:rotate(225deg) scaleY(.5)}
to{-moz-transform:rotate(225deg) scaleY(1)}}
@-o-keyframes f12tof3_d4{from{-o-transform:rotate(225deg) scaleY(.5)}
to{-o-transform:rotate(225deg) scaleY(1)}}
@-ms-keyframes f12tof3_d4{from{-ms-transform:rotate(225deg) scaleY(.5)}
to{-ms-transform:rotate(225deg) scaleY(1)}}
@keyframes f12tof3_d4{from{transform:rotate(225deg) scaleY(.5)}
to{transform:rotate(225deg) scaleY(1)}}
@-webkit-keyframes anti_f12tof3_d1{from{-webkit-transform:rotate(-45deg) scaleY(1)}
to{-webkit-transform:rotate(-45deg) scaleY(.5)}}
@-moz-keyframes anti_f12tof3_d1{from{-moz-transform:rotate(-45deg) scaleY(1)}
to{-moz-transform:rotate(-45deg) scaleY(.5)}}
@-o-keyframes anti_f12tof3_d1{from{-o-transform:rotate(-45deg) scaleY(1)}
to{-o-transform:rotate(-45deg) scaleY(.5)}}
@-ms-keyframes anti_f12tof3_d1{from{-ms-transform:rotate(-45deg) scaleY(1)}
to{-ms-transform:rotate(-45deg) scaleY(.5)}}
@keyframes anti_f12tof3_d1{from{transform:rotate(-45deg) scaleY(1)}
to{transform:rotate(-45deg) scaleY(.5)}}
@-webkit-keyframes anti_f12tof3_d2{from{-webkit-transform:rotate(45deg) scaleY(1)}
to{-webkit-transform:rotate(45deg) scaleY(.5)}}
@-moz-keyframes anti_f12tof3_d2{from{-moz-transform:rotate(45deg) scaleY(1)}
to{-moz-transform:rotate(45deg) scaleY(.5)}}
@-o-keyframes anti_f12tof3_d2{from{-o-transform:rotate(45deg) scaleY(1)}
to{-o-transform:rotate(45deg) scaleY(.5)}}
@-ms-keyframes anti_f12tof3_d2{from{-ms-transform:rotate(45deg) scaleY(1)}
to{-ms-transform:rotate(45deg) scaleY(.5)}}
@keyframes anti_f12tof3_d2{from{transform:rotate(45deg) scaleY(1)}
to{transform:rotate(45deg) scaleY(.5)}}
@-webkit-keyframes anti_f12tof3_d3{from{-webkit-transform:rotate(135deg) scaleY(1)}
to{-webkit-transform:rotate(135deg) scaleY(.5)}}
@-moz-keyframes anti_f12tof3_d3{from{-moz-transform:rotate(135deg) scaleY(1)}
to{-moz-transform:rotate(135deg) scaleY(.5)}}
@-o-keyframes anti_f12tof3_d3{from{-o-transform:rotate(135deg) scaleY(1)}
to{-o-transform:rotate(135deg) scaleY(.5)}}
@-ms-keyframes anti_f12tof3_d3{from{-ms-transform:rotate(135deg) scaleY(1)}
to{-ms-transform:rotate(135deg) scaleY(.5)}}
@keyframes anti_f12tof3_d3{from{transform:rotate(135deg) scaleY(1)}
to{transform:rotate(135deg) scaleY(.5)}}
@-webkit-keyframes anti_f12tof3_d4{from{-webkit-transform:rotate(225deg) scaleY(1)}
to{-webkit-transform:rotate(225deg) scaleY(.5)}}
@-moz-keyframes anti_f12tof3_d4{from{-moz-transform:rotate(225deg) scaleY(1)}
to{-moz-transform:rotate(225deg) scaleY(.5)}}
@-o-keyframes anti_f12tof3_d4{from{-o-transform:rotate(225deg) scaleY(1)}
to{-o-transform:rotate(225deg) scaleY(.5)}}
@-ms-keyframes anti_f12tof3_d4{from{-ms-transform:rotate(225deg) scaleY(1)}
to{-ms-transform:rotate(225deg) scaleY(.5)}}
@keyframes anti_f12tof3_d4{from{transform:rotate(225deg) scaleY(1)}
to{transform:rotate(225deg) scaleY(.5)}}
@-webkit-keyframes circle{from{-webkit-transform:rotate(0)}
to{-webkit-transform:rotate(360deg)}}
@-moz-keyframes circle{from{-moz-transform:rotate(0)}
to{-moz-transform:rotate(360deg)}}
@-o-keyframes circle{from{-o-transform:rotate(0)}
to{-o-transform:rotate(360deg)}}
@-ms-keyframes circle{from{-ms-transform:rotate(0)}
to{-ms-transform:rotate(360deg)}}
@keyframes circle{from{transform:rotate(0)}
to{transform:rotate(360deg)}}
@-webkit-keyframes circle_r{from{-webkit-transform:rotate(0)}
to{-webkit-transform:rotate(-360deg)}}
@-moz-keyframes circle_r{from{-moz-transform:rotate(0)}
to{-moz-transform:rotate(-360deg)}}
@-o-keyframes circle_r{from{-o-transform:rotate(0)}
to{-o-transform:rotate(-360deg)}}
@-ms-keyframes circle_r{from{-ms-transform:rotate(0)}
to{-ms-transform:rotate(-360deg)}}
@keyframes circle_r{from{transform:rotate(0)}
to{transform:rotate(-360deg)}}
@-webkit-keyframes f1tof2_d13{from{-webkit-transform:rotate(-45deg) skewX(-18deg) scale(1.34) translateY(-25px)}
to{-webkit-transform:rotate(-45deg) skewY(-18deg) scale(1.34) translateX(25px)}}
@-moz-keyframes f1tof2_d13{from{-moz-transform:rotate(-45deg) skewX(-18deg) scale(1.34) translateY(-25px)}
to{-moz-transform:rotate(-45deg) skewY(-18deg) scale(1.34) translateX(25px)}}
@-o-keyframes f1tof2_d13{from{-o-transform:rotate(-45deg) skewX(-18deg) scale(1.34) translateY(-25px)}
to{-o-transform:rotate(-45deg) skewY(-18deg) scale(1.34) translateX(25px)}}
@-ms-keyframes f1tof2_d13{from{-ms-transform:rotate(-45deg) skewX(-18deg) scale(1.34) translateY(-25px)}
to{-ms-transform:rotate(-45deg) skewY(-18deg) scale(1.34) translateX(25px)}}
@keyframes f1tof2_d13{from{transform:rotate(-45deg) skewX(-18deg) scale(1.34) translateY(-25px)}
to{transform:rotate(-45deg) skewY(-18deg) scale(1.34) translateX(25px)}}
@-webkit-keyframes f1tof2_d24{from{-webkit-transform:rotate(-45deg) skewY(-18deg) scale(1.34) translateX(25px)}
to{-webkit-transform:rotate(-45deg) skewX(-18deg) scale(1.34) translateY(-25px)}}
@-moz-keyframes f1tof2_d24{from{-moz-transform:rotate(-45deg) skewY(-18deg) scale(1.34) translateX(25px)}
to{-moz-transform:rotate(-45deg) skewX(-18deg) scale(1.34) translateY(-25px)}}
@-o-keyframes f1tof2_d24{from{-o-transform:rotate(-45deg) skewY(-18deg) scale(1.34) translateX(25px)}
to{-o-transform:rotate(-45deg) skewX(-18deg) scale(1.34) translateY(-25px)}}
@-ms-keyframes f1tof2_d24{from{-ms-transform:rotate(-45deg) skewY(-18deg) scale(1.34) translateX(25px)}
to{-ms-transform:rotate(-45deg) skewX(-18deg) scale(1.34) translateY(-25px)}}
@keyframes f1tof2_d24{from{transform:rotate(-45deg) skewY(-18deg) scale(1.34) translateX(25px)}
to{transform:rotate(-45deg) skewX(-18deg) scale(1.34) translateY(-25px)}}
.ui-body-c,.ui-overlay-c{text-shadow:none; background:none}
.ui-overlay-c{
	background:-webkit-radial-gradient(center,#fff,#ffd99d 90%);
	background:-moz-radial-gradient(center,#fff,#ffd99d 90%);
	background:-o-radial-gradient(center,#fff,#ffd99d 90%);
	background:-ms-radial-gradient(center,#fff,#ffd99d 90%);
	background:radial-gradient(center,#fff,#ffd99d 90%);
}
.ui-link,.ui-body-c .ui-link{color:#000}
.ui-link:hover,.ui-body-c .ui-link:hover,.ui-link:visited,.ui-body-c .ui-link:visited{color:#933}
.ui-mobile .ui-page-active{ overflow:hidden;}
.d_comment{ max-width:760px; margin:0 auto; padding:0 20px;}
#CssGaga{content:"20130519171347,249"}